.u-block-f5af-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-f5af-3 {
  position: absolute;
  left: 0;
}

.u-block-f5af-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("/images/2429601713-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 1000px;
  margin-bottom: 0;
}

.u-section-1-1 .u-text-1 {
  width: 431px;
  margin: 274px auto 0;
}

.u-section-1-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  margin: 42px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 56px;
    margin-right: 56px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 632px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 474px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-1-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("/images/83837608-02.jpeg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-1-2 .u-text-1 {
  width: 431px;
  margin: 274px auto 0;
}

.u-section-1-2 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  margin: 42px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 56px;
    margin-right: 56px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 632px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 474px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-1-2 .u-text-1 {
    width: 340px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 3.75rem;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.5), rgba(26,26,26,0.5)), url("/images/home-1-slider-image-2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 256px 29px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 30px 29px 0 285px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 85px;
    width: 826px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  min-height: 500px;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 356px;
  margin-top: 20px;
  margin-bottom: 20px;
  grid-gap: 17px 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-4 .u-back-image-1 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-back-image-2 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-back-image-3 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-back-image-4 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-4 .u-gallery-1 {
    height: 294px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-4 .u-back-image-1 {
    width: auto;
  }

  .u-section-4 .u-back-image-2 {
    width: auto;
  }

  .u-section-4 .u-back-image-3 {
    width: auto;
  }

  .u-section-4 .u-back-image-4 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-gallery-1 {
    height: 901px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2586px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2703px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1702px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 502px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-form-1 {
  width: 570px;
  background-image: none;
  margin: 30px auto 60px;
}

.u-section-5 .u-input-1 {
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-5 .u-form-group-2 {
  margin-left: 0;
}

.u-section-5 .u-input-2 {
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-5 .u-input-3 {
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-5 .u-form-group-4 {
  margin-left: 0;
}

.u-section-5 .u-input-4 {
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-5 .u-input-5 {
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-input-1 {
    text-transform: none;
  }

  .u-section-5 .u-input-2 {
    text-transform: none;
  }

  .u-section-5 .u-input-3 {
    text-transform: none;
  }

  .u-section-5 .u-input-4 {
    text-transform: none;
  }

  .u-section-5 .u-input-5 {
    text-transform: none;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-form-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 543px;
}

.u-section-6 .u-text-1 {
  text-align: center;
  font-size: 1.875rem;
  font-weight: normal;
  margin: 42px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 42px;
  margin-bottom: 42px;
  grid-template-rows: auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6px) calc(33.3333% - 6px) calc(33.3333% - 6px);
  grid-gap: 9px 9px;
  min-height: 366px;
  grid-auto-columns: calc(33.3333% - 6px);
}

.u-section-6 .u-image-1 {
  background-image: url("/images/TUR-H.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  background-image: url("/images/TUR-P.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  background-image: url("/images/AR.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  background-image: url("/images/AM.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  background-image: url("/images/FR.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-image-6 {
  background-image: url("/images/ES.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: 374px;
  }

  .u-section-6 .u-list-1 {
    margin-top: -291px;
    margin-bottom: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 698px;
    grid-auto-columns: calc(33.333333333333336% - 6px);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-top: 879px;
  }

  .u-section-6 .u-list-1 {
    margin-top: -796px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1203px;
    grid-auto-columns: calc(50% - 4.5px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    margin-top: -777px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}